* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --remarks-main-color: #555555;
  --main-text-color: #141414;
  --main-btn-color: #7a9ca5;
  --bgc-azure: #ebf3f5;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: ManropeWeb;
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf);
}

body {
  font-family: PlayfairDisplay;
  font-weight: 800;
  color: var(--main-text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 125px;
  padding: 0px 60px;
  column-gap: 40px;
}

.header__logo {
  color: var(--main-text-color);
  font-size: 30px;
  line-height: 125%;
  letter-spacing: -1.1px;
}

.header__logo-container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.header__phone {
  position: relative;
  font-weight: 600;
  padding-left: 32px;
}

.header__phone-icon {
  position: absolute;
  top: 12px;
  left: 5px;
  width: 24px;
  height: 24px;
}

.header__phone-text {
  margin-left: 7px;
  letter-spacing: -0.25px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32.5px;
  font-weight: 400;
  margin-left: auto;
}

.nav-link {
  font-family: ManropeWeb;
  text-decoration: none;
  font-size: 18px;
  color: var(--remarks-main-color);
  line-height: 300%;
}

.nav-link:hover {
  color: var(--main-btn-color);
}

.header__social-link {
  transition: 0.3s;
}

.header__social-link:hover {
  filter: invert(63%) sepia(20%) saturate(384%) hue-rotate(146deg)
    brightness(91%) contrast(89%);
}

.btn {
  padding: 16px 31px;
  border: none;
  outline: none;
  background-color: var(--main-btn-color);
}

.section-label {
  color: #5c8692;
  font-family: ManropeWeb;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 28px;
}

.section-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
}

.remark {
  color: var(--remarks-main-color);
  font-family: ManropeWeb;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 32.3px */
}

.testimonials {
  display: flex;
  height: 776px;
  background-color: var(--bgc-azure);
}

.content-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.testimonials__feedbacks {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  margin-top: 40px;
}

.feedback-card {
  display: flex;
  width: 582px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
}

.feedback-card__text {
  color: var(--main-text-color);
  font-family: ManropeWeb;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  padding: 44px 48px 54px 49px;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 18px;
  margin-right: auto;
  width: 582px;
  height: 125px;
  flex-shrink: 0;
  background: #1e2c30;
  padding: 24px 50px;
  color: #fff;
  position: relative;
}

.user-info::after {
  position: absolute;
  width: 70px;
  height: 55px;
  content: " ";
  background: url(../assets/svg/feedback-icon.svg);
  right: 52px;
  top: 35px;
}

.user-avatar {
  display: block;
  width: 78px;
  height: 78px;
  border: 2px solid #fff;
}

.user-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
  letter-spacing: -0.2px;
}

.user-country {
  font-family: ManropeWeb;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.42px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-top-8 {
  margin-top: 8px;
}

.rating {
  display: flex;
  font-size: 16px;
  letter-spacing: 2px;
  padding-left: 2px;
  font-weight: 400;
  position: relative;
}

.rating::before {
  position: absolute;
  content: "☆☆☆☆☆";
  left: 2px;
  top: 0;
  width: 77px;
}

/* .content-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
} */

.rating__satrs {
  overflow: hidden;
}
