* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --remarks-main-color: #555555;
  --main-text-color: #141414;
  --main-btn-color: #7a9ca5;
  --bgc-azure: #ebf3f5;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: ManropeWeb;
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf);
}

body {
  font-family: PlayfairDisplay;
  font-weight: 800;
  color: var(--main-text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 125px;
  padding: 0px 60px;
  column-gap: 40px;
}

.header__logo {
  color: var(--main-text-color);
  font-size: 30px;
  line-height: 125%;
  letter-spacing: -1.1px;
}

.header__logo-container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.header__phone {
  position: relative;
  font-weight: 600;
  padding-left: 32px;
}

.header__phone-icon {
  position: absolute;
  top: 12px;
  left: 5px;
  width: 24px;
  height: 24px;
}

.header__phone-text {
  margin-left: 7px;
  letter-spacing: -0.25px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32.5px;
  font-weight: 400;
  margin-left: auto;
}

.nav-link {
  font-family: ManropeWeb;
  text-decoration: none;
  font-size: 18px;
  color: var(--remarks-main-color);
  line-height: 300%;
}

.nav-link:hover {
  color: var(--main-btn-color);
}

.header__social-link {
  transition: 0.3s;
}

.header__social-link:hover {
  filter: invert(63%) sepia(20%) saturate(384%) hue-rotate(146deg)
    brightness(91%) contrast(89%);
}

.btn {
  padding: 16px 31px;
  border: none;
  outline: none;
  background-color: var(--main-btn-color);
}
